.container {
    display: flex;
    width: 454px;
    height: 454px;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.container-wrap {
    width: 454px;
    height: 454px;
    left: 0px;
    top: 0px;
    opacity: 0.7;
    background-color: black;
    border-width: 0px;
}

progress {
    top: 240px;
    left: 80px;
    width: 294px;
}